<input type="text" placeholder="Search ID..."  (keyup)="search()">

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Avatar</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let page of table ,let i=index">
      <td>{{page.id}}</td>
      <td>{{page.email}}</td>
      <td>{{page.first_name}}</td>
      <td>{{page.last_name}}</td>
      <td><img [src] = "page.avatar" alt="userimg"></td>
      <td><button (click)="delete(i)">Delete</button></td>
    </tr>
  </tbody>
</table>
<!-- <button (click)="getmethod()">1</button> -->

<div class="pagination">

  <a [class.active]="selectedPage =='1'" (click)="getmethod('1')">1</a>
  <a [class.active]="selectedPage =='2'" (click)="getmethod('2')">2</a>


</div>
<!-- <input type="text" placeholder="search"> -->

<br><br>
<button (click)="logout()">Logout</button>
